/*
* @Author: Administrator
* @Date:   2017-10-25 19:20:54
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-31 22:49:03
*/
@import url('base.css');
header{
	width: 100%;
	height: 122px;
	padding-top: 28px;
	padding-bottom: 14px;
	background: #2c333d;
	position: relative;
}
body{
	background: #f5f5f5;
}
.header-box{
	width: 1140px;
	height: 122px;
	margin: 0 auto;
}
.header-logo{
	width: 80px;
	height: 80px;
	float: left;
	padding-left: 5px;
	padding-bottom: 10px;
}
.header-logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.header-text{
	width: 350px;
	height: 80px;
	float: left;
	padding-left: 15px;
	padding-bottom: 10px;
}
.header-text h3{
	color: #fff4d7;
	font-weight: normal;
}
.header-text h1{
	color: #fff4d7;
	padding-top: 5px;
}
.nav{
	width: 100%;
	height: 30px;
	float: left;
	display: flex;
	align-items:flex-end;
	justify-content:space-around;
	border-top: 1px solid #999;
}
.nav-box a{
	font-size: 16px;
	color: #fff4d7;
	padding-left: 30px;
	padding-right: 30px;
	border-left: 1px solid #999;
}
.nav-box:first-child a{
	border-left: 0px solid #fff;
}
.nav-box a:hover{
	color: #bfe7cd;
}
.xie-box{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: -50px;
	left: 0;
	z-index: 999;
}
.xie-box img{
	display: block;
	width: 100%;
	height: 100%;
}
/* ============================================ */
.banner{
	width: 100%;
	height: 300px;
	position: relative;
}
.left-bs{
	width: 35px;
	height: 55px;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 45%;
	left: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: #fff;
	opacity: 0;
}
.left-bs:hover{
	opacity: 0.8;
}
.right-bs{
	width: 35px;
	height: 55px;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 45%;
	right: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 26px;
	color: #fff;
	opacity: 0;
}
.right-bs:hover{
	opacity: 0.8;
}
.banner-box{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.banner-tu{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.banner-tu img{
	display: block;
	width: 100%;
	height: 100%;
}
/* ============================================ */
.ejnav{
	width: 100%;
	height: 54px;
	background: #f5f5f5;
	border-bottom: 1px solid #999999;
}
.ejnav-box{
	width: 1140px;
	height: 100%;
	background: #f5f5f5;
	margin: 0 auto;
}
.ejnav-box a{
	display: block;
	height: 50px;
	line-height: 50px;
	float: left;
	padding: 0 15px;
	font-size: 16px;
	color: #555555;
    cursor:pointer;

}
.ejnav-box a:hover{
	border-bottom: 4px solid #dbb866;
}
/*.box-xiahua{
	border-bottom: 4px solid #dbb866;
}*/
.fhsy{
	float: right !important;
}
.ejbox-bt{
	width: 1140px;
	margin: 0 auto;
	border-bottom: 1px solid #c5c5c5;
    padding: 20px 0;
    margin-top: 20px;
}
.ejbox-bt b{
	font-size: 27px;
    padding: 15px 0;
    color: #2F4F4F;
    font-weight: 300;
}
.ejbox-nr{
	width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.ejbox-znr{
	width: 15%;
	height: auto;
	padding-top: 50px !important;
	padding: 0 15px;
	background: #f0f0f0;
}
.fenzu{
	width: 100%;
	height: 30px;
	border-bottom: 1px dashed #2c333d;
}
.fenzu a{
	padding-left: 10px;
	font-size: 16px;
	line-height: 30px;
	color: #2c333d;
}
.fenzu a:hover{
	color: #00868B;
}
.ejbox-ynr{
	width: 80%;
	height: auto;
	padding-top: 50px !important;
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	align-content:space-around;
}
.ynr-xc{
	width: 290px;
	height: 200px;
	margin-bottom: 50px;
}
.ynr-xc a img{
	display: block;
	width: 100%;
	height: 100%;
}
/* ===================================================== */
.liangjie{
	width: 100%;
	height: 150px;
	padding-top: 70px;
	padding-bottom: 70px;
}
.liangjie-box{
	width: 1140px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:space-around;

}
.liangjie-hezi{
	width: 180px;
	height: 40%;
	border: 1px solid #999;
}
.liangjie-hezi a img{
	display: block;
	width: 100%;
	height: 100%;
}
/* ===================================================== */
.footer{
	width:100%;
	height: 200px;
	background: #2c333d;
	position: relative;
}
.xie-box5{
	width: 100%;
	height: 50px;
	position: absolute;
	top: -50px;
	left: 0;
	z-index: 999;
	transform: rotate(180deg);
}
.xie-box5 img{
	display: block;
	width: 100%;
	height: 100%;
}
.footer-box{
	width: 1140px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
}
.footer-left{
	width: 70%;
	height: 100%;
	padding-left: 15px;
}
.footer-right{
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content:space-around;
}
.footer-right h3{
	font-size: 16px;
	padding-top: 10px;
	color: #fff;
	font-weight: normal;}
.gzh{
	width: 130px;
	height:130px;
	margin-bottom: 20px;
}
.gzh img{
	display: block;
	width: 100%;
	height: 100%;
}
.spx{
	width: 100%;
	height:5px;
	padding-top: 55px;
	border-bottom:1px solid #bfe7cd;
}
.footer-left p{
	font-size: 12px;
	color: #fff;
	padding-top: 10px;
}
.footer-left p a{
	color: #bfe7cd;
	text-decoration:underline;
}
.ejbox-bt2{
    width: 1140px;
    margin: 0 auto;
    border-bottom: 1px solid #c5c5c5;
    padding: 20px 0;
    margin-top: 20px;
}
.ejbox-bt2 b{
    font-size: 27px;
    padding: 15px 0;
    color: #2F4F4F;
    font-weight: 300;
}
.ejbox-nr2{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ejbox-znr2{
    width: 65%;
    padding-top: 50px !important;
    padding: 0 15px;
}
.ejbox-znr2 p{
    text-indent:2em;
    margin-top: 10px;
    line-height: 30px;
    color: #000;
    text-align: justify;
}
.ejbox-ynr2{
    width: 30%;
    height: 500px;
    background: pink;
    margin-top: 50px;
    position: relative;
}
.ejbox-ynr2 li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ynrt2{
    display: block;
    width: 100%;
    height: 100%;
}
.xsl{
    display: none;
}
.xss{
    display: block;
}