*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
}
section.search{
    width:100%;
    height: 0.5rem;
    background: palevioletred;
    overflow: hidden;
}
section.search > input{
    width: 79%;
    height: 0.35rem;
    border-radius: 0.2rem;
    display: block;
    margin: 0.07rem 0.2rem;
    border: 0.01rem;
    padding-left: 0.15rem;
    outline: none;
}
.content{
    width:100%;
    height: auto;
    background: #f5f5f5;
}
.content .list{
    width:95%;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding: 0.1rem 0;

}
.content .list a{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 0.05rem;
    line-height: 0.28rem;
    color: #000;
    text-decoration: none;
}
.left{
    width: 40%;
    height: 0.78rem;
    overflow: hidden;
    box-sizing: border-box;
}
.left img{
    width: 90%;

}
.con{
    width: 60%;
    /*padding: 0.1rem;*/
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap;
    align-content:space-between;
    justify-content:space-between;
    text-align:justify;
    line-height: 0.28rem;
}
i{
    font-size: 0.12rem;
    color: #666;
}
#gd{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;
}
#add{
    width:100%;
    height: 0.34rem;
    line-height: 0.34rem;
    text-align: center;
}
#fh{
    float: left;
    width: 0.3rem;
    height:80%;
    font-size: 0.3rem;
    font-family: '宋体';
    font-weight: bold;
    color: #fff;
    padding-left: 0.15rem;
    padding-top: 0.07rem;
}
#bt{
    line-height: 0.5rem;
    padding-left: 47%;
    font-size: 0.2rem;
    color: #333333;
}
#wzbt{
    padding: 0.15rem 0;
    text-align: center;
}
#ik{
    margin: 0 0.3rem  0.1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
}
#time,#urls{
    font-size: 0.12rem;
    padding: 0 0.2rem;
}
p{
    text-align:justify;
    line-height: 0.27rem;
    text-indent: 2em;
    padding: 0 0.1rem;
}
#xqtu{
    display: block;
    width:90%;
    margin: 0 auto;
    padding: 0.1rem 0;
}

p>img{
    display: block;
    width:95%;
    margin: 0 auto;
    padding: 0.1rem 0;
}


















